# ML / Torch stack
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
torch-geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv

# SciPy ecosystem
numpy
scipy
pandas
scikit-learn
matplotlib
seaborn
tqdm
pyyaml
joblib

# Chem/Bio
# rdkit
# openbabel
biopython
MDAnalysis
# pymol-open-source
mrcfile
griddataformats
gsd

# Utilities
tensorboard
easydict

diffusers
docutils
filelock
fsspec
torch_scatter
torch_cluster
